/* Import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans&family=Roboto:wght@300&display=swap');
:root {
    --secondary-color: #ffffff;
    --red-color: red;
    --primary-color: #fad8d8;
    --light-gray: #2b3032a1;
    --Noto: "Noto Sans",NotoSans; 
    --Roboto: "Roboto",Roboto;
}
primary-color{
    color: var(--primary-color);
}
.bg-primary-color{
    background-color: var(--primary-color) !important;
}

.text-color{
    color:var(--text-color);
}

.font-noto{
    font-family: var(--Noto);
}
.Roboto{
    font-family: var(--Roboto);
}


/* Header */
header{
    background-color: black;
    font-family: var(--Noto);
}

header .site-title{
    color: white;
    font-family: var(--Roboto);
}

@media all and (min-width: 992px) {
	.navbar{ padding-top: 0; padding-bottom: 0; }
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; padding:20px;  }
	.navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
}
/* Navigation menu */
.navbar-nav{
    padding: 0.8em 0em;
}
.navbar-nav .nav-link{
    font-size: 1em;
    color: black
}

.navbar-nav .nav-item .nav-link{
    padding: 0 1.3em;
    font-family: var(--Roboto) !important;
}